In [1]:
import pandas as pd

In [2]:
def count_dynamics(years: list):
    filename_template = "names/yob{year}.txt"
    dfs = []
    for year in years:
        filename = filename_template.format(year=year)
        df = pd.read_csv(filename, names=["Name", "Gender", "Count"])
        df["Year"] = year
        dfs.append(df)
    concatenated_df = pd.concat(dfs, ignore_index=True, sort=False)
    processed_df = concatenated_df.groupby(["Gender", "Year"]).sum()
    return processed_df

In [4]:
if __name__ == "__main__":
    dynamics = count_dynamics([1900, 1950, 2000])

In [5]:
dynamics

               Count
Gender Year
F      1900   299800
       1950  1713151
       2000  1815110
M      1900   150483
       1950  1790549
       2000  1962969